/********** Base styles **********/


html, body {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 1%;
  font-family: Helvetica;
  text-align: center;
}

div {
	margin: 0;

}

div.heading {
  background-color: #A52A2A;
  width: 30%;
  height: 50px;
  position: relative;
  left: 70%; /*is 30% wide, so shifting it 70% to left places right edhe of box on outer right edge*/
  top: 0; 
  margin: 0;
  margin-bottom: 1%;
}

div.headingtext{
  position: relative;
  height: 33.3%; 
  top: 33.3%; 
  text-align: center;
  text-align: middle;
  font-family: Helvetica;
  color: white;
}
div.text{
	padding: 10px;
   font-family: Helvetica;

}

#p1{
	background-color: gray;
}

#p2{
	background-color: #A52A2A;
}

#p3{
	background-color: blue;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

/********** Desktops: section 1-3 side by side **********/
@media (min-width: 992px) {
  .col-lg-4 {
  	box-sizing: border-box;
    float: left;
    border: 1px solid green;
    width: 31.333%;
    margin:1%;

  }
}

/********** Tablets: section 1-2 side by side but 3 full bottom **********/
@media (min-width:  768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
  	box-sizing: border-box;
    float: left;
    border: 1px solid green;
    margin:1%;
  }

  .col-md-6 { /*section 1-2*/
    width: 48%;
  }
  .col-md-12 { /*section 3*/
    width: 98%;
  }
}

/********** Smartphones: Section 1-3 all below each other**********/
@media (max-width: 765px) {
  .col-sm-12 {
  	box-sizing: border-box;
    float: left;
    border: 1px solid green;
    margin:1%;
    width: 98%;
}
